.box {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    width: 720px;
  }
}

.title {
  margin-top: 48px;
  padding-bottom: 12px;
  font-size: 26px;
  color: #000000;
  font-weight: bold;
  border-bottom: 1px solid rgba(128,128,128.18);
}

.footer {
  text-align: center;
  margin-top: 6rem;
  color: #000000;
  font-weight: 600;

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .author {
    font-size: 0.9rem;

    a {
      color: #000000;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .version {
    font-size: 0.88rem;
    opacity: 0.58;
    margin-top: -10px;
  }
}